.container-card-detail {
  display: flex;
  width: 50vw;
  margin: 3vh 0 3vh 0;
  padding: 25px;
  @media screen and (max-width: 915px) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.container-article {
  display: flex;
  justify-content: center;
}
.img-container-card {
  display: flex;
  height: 50%;
  @media screen and (max-width: 915px) {
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.preview-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 50vh;
  white-space: nowrap;
  width: 15%;
  overflow-y: scroll;
  @media screen and (max-width: 915px) {
    flex-direction: row;
    width: 100vw;
    top: 350px;
    justify-content: space-between;
    position: absolute;
    overflow-x: scroll;
    padding: 15px 0 15px 0;
    box-shadow: 0px 0px 10px #ffffff;
    background-color: #ffffff;
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
::-webkit-scrollbar {
  display: none;
}
.preview-image img {
  object-fit: cover;
  height: 80px !important;
  margin: 5px 0px 5px 0px;
  border: 1px solid #333333;
  border-radius: 10px;
  @media screen and (max-width: 915px) {
    width: 100px !important;
    margin: 0px 15px;
    border: 0;

    box-shadow: 5px 2px 7px #333333;
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.image-active {
  width: 80%;
  height: 350px;
  @media screen and (max-width: 915px) {
    width: 100% !important;
    height: 300px;
    object-fit: contain;
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}

.img-container-card img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.container-title-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333333;
  height: 30vh;
  padding: 15px;
  @media screen and (max-width: 915px) {
    width: 50vw;
    height: 270px;
    padding:10px 5px;
    justify-content: space-between;
    
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.container-price-btn {
  height: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.text-price {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  color: #333333;
  @media screen and (max-width: 915px) {
    font-size: 20px;
    letter-spacing: 0;
    
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.btn {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #3483fa !important;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 30px;
  @media screen and (max-width: 915px) {
   margin-top: 5px;
    
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.btn:hover {
  cursor: pointer;
}

.img-active:hover {
  cursor: pointer;
}

.container-descripcion {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 915px) {
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}

.text-title {
  font-weight: 400;
  font-size: 15px;
  font-weight: bold;
  @media screen and (max-width: 915px) {
    font-size: 15px;
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.descripcion-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5em;
  @media screen and (max-width: 915px) {
    margin: 20vh 0px;
  }
  @media screen and (min-width: 700px) {
    //do Smth
  }
}
.descripcion-container h2 {
  color: #333333;
  @media screen and (max-width: 915px) {
    margin: 10px 0px;
  }
  @media screen and (min-width: 700px) {
    //do Smth}
  }
}

.descripcion-container p {
  font-weight: 300;
}
