.container-card-detail {
    display: flex;
    width: 75%;
    margin: 3vh 0 3vh 0;
    padding: 25px;
    @media screen and (max-width: 915px) {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333333;
    height: 30vh;
    padding: 15px;
    @media screen and (max-width: 915px) {
        width: 50vw;
        height: 270px;
        padding: 10px 5px;
        justify-content: space-around;
    }
}

.container-price-btn {
    height: 70%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.text-price {
    font-size: 1.2em;
    font-weight: 400;
    width: 100%;
    color: #333333;
    @media screen and (max-width: 915px) {
        font-size: 0.9em;
        font-weight: bold;
    }
}

.btn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #3483fa !important;
    border-radius: 4px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 30px;
    @media screen and (max-width: 915px) {
        margin-top: 5px;
    }
}

.btn:hover {
    cursor: pointer;
    background-color: #316fce !important;
}

.img-active:hover {
    cursor: pointer;
}

.container-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.text-title {
    font-weight: 400;
    font-size: 15px;
    font-weight: bold;
    @media screen and (max-width: 915px) {
        font-size: 15px;
    }
}

.container-descripcion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5em;
    @media screen and (max-width: 915px) {
        margin: 15vh 0 2vh 2vh;
        width: 100%;
    }
}

.container-descripcion h2 {
    color: #333333;
    @media screen and (max-width: 915px) {
        margin: 10px 0px;
    }
}

.container-descripcion p {
    font-weight: 300;
}