* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    box-sizing: border-box;
}

.bg-white {
    background-color: #ffffff;
}

.bg-yellow {
    background-color: #ffe600;
}

.mb-32 {
    margin-bottom: 32px;
}

.m-16 {
    margin: 16px;
}